/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; 
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'PT Serif', serif;
  color: #ffffff;
  background-color: #fffff3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;

}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #814f26;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;
  color: #2c240f;
  max-width: 80%;
}
.cd-section h2  {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.4rem;
  background-color: rgb(236, 223, 164);
  
  
}
.cd-section:first-of-type > div {
  
  height: 100vh;
  
  
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
  
}
.cd-section:nth-of-type(1) > div {
  background-color: rgb(233, 225, 196);
  
}
.cd-section:nth-of-type(2) > div {
  background-color: rgb(233, 225, 196);
}
.cd-section:nth-of-type(3) > div {
  background-color: rgb(233, 225, 196);
}
.cd-section:nth-of-type(4) > div {
 background-color: rgb(233, 225, 196);
}
.cd-section:nth-of-type(5) > div {
 background-color: rgb(233, 225, 196);
}
.cd-section:nth-of-type(6) > div {
 background-color: rgb(233, 225, 196);
}
.cd-section:nth-of-type(7) > div {
 background-color: rgb(233, 225, 196);
}
.cd-section:nth-of-type(8) > div {
 background-color: rgb(73, 69, 52);
}
.cd-section:nth-of-type(9) > div {
 background-color: rgb(233, 225, 196);
}
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../img/img-1.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/img-2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/img-3.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/img-5.jpg");
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 6rem;
    font-weight: 300;
    
    
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
    
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}

/* -------------------------------- 

My Components 

-------------------------------- */
#holder {
  
    width: 35%;
    float: left;
    height: 70%;
    margin-left: 10%;
    align-content: center;
    padding-left: 8%;
  
}

#bar {
  
    width: 35%;
    float: left;
    height: 70%;
    margin-left: 10%;
    align-content: center;
    padding-left: 8%;
  
}

#gauge {
  
    width: 35%;
    float: left;
    height: 70%;
    margin-left: 10%;
    align-content: center;
    padding-left: 8%;
  
}
#line {
  
    width: 80%;
    float: left;
    height: 70%;
    margin-left: 10%;
    align-content: center;
    padding-left: 8%;
  
}
#sunburst {
  
    width: 80%;
    float: left;
    height: 70%;
    margin-left: 10%;
    align-content: center;
    padding-left: 8%;
  
}

#sunburst2 {
  
    width: 80%;
    float: left;
    height: 70%;
    margin-left: 10%;
    align-content: center;
    padding-left: 8%;
  
}

#heatmap {
  
    width: 80%;
    float: left;
    height: 70%;
    margin-left: 10%;
    align-content: center;
    padding-left: 8%;
  
}
#imge {
  width: 35%; 
  height: 70%;
  font-size: 1.2em;
  line-height: 1.6;
  margin-left: 10%;
  padding: 0% 0% 10% 5%;


    
}

#imge img {

  border-radius: 1%;
  border-style: solid;
  border: peru;
  border-width: thick;
  opacity: 0.9;
  align-content: center;
  box-shadow: 10px 10px rgb(87, 59, 59);
  height: 50%;
  width: 75%;
  padding: 1%;
 
  
}

#bubble {
  
  width: 35%; 
  height: 70%;
  font-size: 1.2em;
  line-height: 1.6;
  margin-left: 10%;
  padding: 0% 0% 5% 6%;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 40%;
    height: auto;
    background: none repeat scroll 0 0 rgb(63, 34, 20);
    border: 10% solid lightyellow;
    padding: 14px;
    pointer-events: painted;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: lightyellow;
  }

.viz{

  padding: 1% 11%;
}

.text p {

  font-family: 'Signika Negative', sans-serif;
  

}
#text-left {

  width:45%; 
  margin-left: 45%;
  height: 70%;
  font-size: 1.2em;
  line-height: 1.6;
  padding: 5% 5%;

}

header h1, footer h1{
  font-size: 2.85em;
  font-weight: bold;
  opacity: 0.8;
  background-color: rgb(246, 246, 201); 
  color: rgb(68, 51, 51); 
  padding: 1%; 
  font-family: 'Indie Flower', cursive;
  text-align: center;
 
}

header h1:hover {
  font-size: 3em;
  color: orange;

}
header a {
  color:rgb(101, 180, 77);
  font-weight: bold;
  font-size: x-large;
}
header {
  max-width: 80%;
  margin-left: 10%;
}

.head1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/one2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2%;

    
}

.viz {
  box-shadow: 0px 2px 0px #777;
}
.viz h1{

  font-size: 1.2em;
  align-items: center;
  font-weight: bold;
  
}

.text {

  justify-content: center;
  align-items: center;
  border-radius: 2%;
  border-left: 1px solid;
  border-style: dotted;
  border-radius: 2%;
  border-color: rgb(233, 191, 128);
  margin-top: 0.5%;
  margin-bottom: 0.5%;

}

.text h1 {

  font-weight: bold;
  text-align: center;
  box-shadow: 0px 2px 0px rgb(233, 191, 128);
}

@keyframes scroll{

  0%, 100% {transform: translateY(1rem);}

  50% {transform: translateY(-1rem);}

}
.scroll-arrow {
  
  margin: 3rem
  auto 0;
  animation: scroll 5s ease-in-out infinite;
  color: #0b4d26;
}


.lowlight {
    display: inline-block;
    animation: blink 5s ease-in-out infinite;
}

.viz {


  border-right: 1px solid;
  border-style: dotted;
  border-radius: 2%;
  border-color: rgb(233, 191, 128);
  margin-top: 0.5%;
  margin-bottom: 0.5%;

}

/* -------------------------------- 

Gauge styles

-------------------------------- */
 .pie {
        margin: 20px;
      }
      
      .pie text {
        font-family: "Verdana";
        fill: #888;
      }
      
      .pie .name-text{
        font-size: 1em;
      }
      
      .pie .value-text{
        font-size: 3em;
      }

.slice {
            cursor: pointer;
        }

        .slice .main-arc {
            stroke: #fff;
            stroke-width: 1px;
        }

        .slice .hidden-arc {
            fill: none;
        }

        .slice text {
            pointer-events: none;
            dominant-baseline: middle;
            text-anchor: middle;
        }      