body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
 
}
p {
     font-size: 1.1em;
     line-height: 1.7;
}
h2 {
   font-weight: 800;
   text-align: left;
   font-family: 'Raleway', sans-serif;
}
 h1 {
   
 }

.h3-body {
  font-size: 1.1em;
  padding: 0%;
}

li {
  font-size: 1.1em;
  line-height: 1.7;
}

.container {
    max-width: 60%;
    text-align: left;
    margin-top: 48px;
    position:absolute;
    margin-left: 25%;
    align-content: center; 
}

/* settings sidenav */

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
  color: #ffffff;
  border-width: medium;
  border-color: #bd8816;
  border-right-style: solid;
  z-index:999;
  padding-right: 10px;
  
}

.sidenav a {
  padding: 6px 25px 6px 18px;
  text-decoration: none;
  font-size: 1em;
  color: #453108;
  display: block;
  font-family: 'Mulish', sans-serif;
  align-content: center;
  font-weight:400;
}

.sidenav a:hover {
  color: #292626;
}

.sidenav p,  h3 {
padding: 6px 10px 6px 18px;
font-size: 1em;
color: #292626;
}

.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 0.9em; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-right: 11%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* settings topnav why it didnt*/
.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  margin-left: 20%;
  position: fixed;
  width: 87%;
  z-index:999;
  background-image: url("img/font1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid; 
  border-color: #bd8816;

}

.topnav p{
  color: #453108;
  text-align: left;
  padding: 0px 9%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.5em;
  background-color: #ddd;
  width: fit-content;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#heatmap{
  background-color: rgb(255, 255, 255);
  align-content: center;

}


.wrapper {
  max-width: 100%;
  align-content: center;
}
 .subtitle{
    font-size: 1em;
    font-weight: bold;
 }

 .tooltip {
   position: absolute;
 }

 .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
    align-content: center;
    background-color: rgb(245, 230, 210);
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(246, 246, 246);
    align-content: center;
}