
*{

    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova',Helvetica,Arial,sans-serif;
    font-style: normal;
}

header, footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header h1, footer h1{
    font-size: 3.75em;
}

.block1 p, .block2 p, .block3 p, .block4 p, .block5 p{
    color: lightyellow;
    padding-left: 5em;
    font-family: 'Proxima Nova',Helvetica,Arial,sans-serif;
    text-align: start;

}
.init-header{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(235, 212, 203);
}
footer{
  
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 212, 203);

}
.block1, .block2, .block3, .block4, .block5 {
    height: 100vh;
    position: relative;
    overflow: hidden;

} 

.block1 h1, .block2 h1, .block3 h1, .block4 h1, .block5 h1{
    height: 10vh;
    display: flex;
    justify-content: left;
    padding-left: 5em;
    align-items: center;
    font-size: 2.5em;
    font-style: italic; 
    color: rgb(226, 155, 108);
    
}

/*  viz 1*/
#viz-1, .footer {
    
    background-color: rgb(65, 36, 17);  
    color:lightyellow;

} 

#linechart {
    position: absolute;
    font-size: 25px;
    height: 800px;
    width: 1000px;
    left: 260px;
    top: 450px;
    color: black;
   
    
}

#linechart2 {
    position: absolute;
    font-size: 25px;
    height: 800px;
    width: 1000px;
    right: 80px;
    top: 400px;
    color: rgb(0, 0, 0);
   
}
.text-viz-1{
   font-size: 1.375em; 
   width: 75em;
   position: relative;
   padding-left: 7em;

}

.text-viz-b{
    font-size: 1.375em; 
    width: 56.25em;
    position: relative;
    padding-left: 5em;
    left:40%;
    top: 40%;
 
 }
 .text-viz-s{
    font-size: 22px; 
    width: 900px;
    position: relative;
    left: 45%;
    top: 0%;
 }
 .text-viz-z{
  font-size: 22px; 
  width: 900px;
  position: relative;
  padding-left: 5em;
  left:10%;
  top: 10%;
}


/*  viz 2*/

#table {

    position: absolute;
    height: 90px;
    width: 900px;
    top:90px;
    right: 100px;
    color: rgb(226, 155, 108);

}
#viz-2 {
    background-color:  rgb(65, 36, 17);  
    color: lightyellow;
} 


.text-viz-2{
    position: absolute;
    font-size: 30px;
    height: 100px;
    width: 800px;
    right: 1400px;
    bottom: 500px;
    color:lightyellow;
}

/*  viz 3*/

#bubble {
    height: 80px;
    position: absolute;
    top: 10%;
    left: 0%;
    margin-top: 40px;
    cursor: grab;
    animation-duration: 3s;
    animation-name: bounce;
}

#pie{
   
    margin-left: 30px;
    width: 800px;
    height: 100px;
}

#bar {
  
    position: initial;
    top: 0px;
    left: 0px;
}
.rect:hover {
  fill: rgba(190, 9, 9, 0.959);
   
  
}

/*  viz 4*/

.logo-pic01 {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}

.label {
    fill: lightyellow;
    text-anchor: start;
    font-weight: bolder;
  }
 image:hover{
   width: 50px;
   height: 30;
   
 } 
  
  .axis {
    font-size: 16px;
    font-weight: lighter;
 
  }

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgb(63, 34, 20);
    border: 1px solid lightyellow;
    padding: 14px;
    pointer-events: none;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: lightyellow;
  }

  
.axis-x-axis{
    color:lightyellow;
    stroke-width: 4;
    font-size: 18px;
    
  
  }
  
  .axis-y-axis{
    color:rgb(241, 241, 215);
    stroke-width: 4;
    font-size: 18px;
    
    
  }
  .axis-label {
    font-size: 16px;
    fill: rgb(226, 155, 108);
    text-anchor: middle;
    font-weight: bold;
    padding: 5em;
  }
  .grid{
    color: lightslategray;
  
  }
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus circle {
    fill: #F1F3F3;
    stroke: red;
    stroke-width: 5px;
  }
  .focus text {
    color: BLUE;
  }  
  .hover-line {
    stroke: lightyellow;
    stroke-width: 5px;
    stroke-dasharray: 3,3;
  }
  
  .focus{
    position: absolute;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgb(26, 29, 29);
    border: 1px solid lightyellow;
    padding: 14px;
    pointer-events: none;
    text-align: center;
    font-size: 18px;
    color: lightyellow;
  }

/*animation */

.block1, .block2, .block3, .block4, .block5, .footer {
    opacity: 0;
    transition: .3s;
  
}

.block1.show, .block2.show, .block3.show, .block4.show, .block5.show, .footer.show {
    opacity: 1;

}